.products-container{
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
}

.search-input-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    .search-input{
        border: 2px solid #cad0d6;
        background: #ffffff;
        border-radius: 6px;
        height: 20px;
        padding: 10px 8px;
        outline: none;
    }
    .btn {
      border: none;
      height: 45px;
      width: 90px;
      border-radius: 5px;
  }
  .primary {
      background-color: #ffdf00;
  }
}

.products-table-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    padding: 20px;
    justify-content: center;
    background: #ffffff;
    overflow-x: auto;
    .products-table {
        width: 100%;
        border-collapse: collapse;
        thead{
            height: 50px;
            background: #f9fafc;
            color: #48484b
        }
        tbody{
            background-color: #ffffff;
            tr{
                height: 50px;
                border-bottom: 1px solid #cad0d6;
                border-top: 1px solid #cad0d6;
            }
        }
        th, td {
            padding: 10px;
            text-align: center;
        }
        .product-logo{
            width: 30px;
            height: 30px;
        }
        .father-dropdown {
            border: none;
            background: none;
            position: relative;
            .menu {
                position: relative;
                .menu-button {
                  background-color: #3498db;
                  color: #fff;
                  border: none;
                  padding: 10px 20px;
                  cursor: pointer;
                }
              
                
              }
              .dropdown {
                position: absolute;
                top: 100%;
                left: -5px;
                background-color: #fff;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                display: none;
                transition: all 0.3s ease-in-out;
                z-index: 100;
                ul {
                  /* display: none; */
                  list-style: none;
                  padding: 0;
                  margin: 0;
            
                  li {
                    padding: 10px;
                    &:hover {
                      background-color: #f0f0f0;
                    }
                  }
                }
              }
            
              .show {
                display: block;
              }
        }
        .table-options{
            width: 20px;
            height: 20px;
            
        }
    }
    .table-footer{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        .products-count{
            color: #48484b;
            font-weight: bold;
        }
    }
}




@media (min-width: 768px) {
    .products-table {
      width: 75%;
    }
  }