<div class="products-container">
    <div class="search-input-container">
        <input class="search-input" type="text" [(ngModel)]="searchText" (change)="filterProducts()"
            placeholder="Search...">
        <Button class="btn primary" (click)="addProduct()">+ Agregar</Button>
    </div>
    <div class="products-table-container">
        <table class="products-table">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Nombre del producto</th>
                    <th>Descripción</th>
                    <th>Fecha de liberación</th>
                    <th>Fecha de reestructuración</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productsFilter; index as i">
                    <td><img class="product-logo" src="{{product.logo}}" alt="Logo"></td>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.date_release | date:'dd/MM/yyyy'}}</td>
                    <td>{{product.date_revision | date:'dd/MM/yyyy'}}</td>
                    <td>
                        <button class="father-dropdown" (click)="toggleDropdown(i)"><img class="table-options"
                                src="../../../assets/img/menu-icon.png" alt="options">
                            <div class="dropdown" *ngIf="i == index" [ngClass]="{ 'show': isDropdownOpen }">

                                <ul>
                                    <li (click)="editProduct(product)">Editar</li>
                                    <li (click)="openModal(product)">Eliminar</li>
                                </ul>
                            </div>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="table-footer">
            <span class="products-count">
                {{productsList.length}} Resultados
            </span>
            <select name="quantity" [(ngModel)]="productsQuantity" (change)="changeQuantity()">
                <option *ngFor="let option of quantityOptions" [value]="option">
                    {{option}}
                </option>
            </select>
        </div>
    </div>
</div>

<app-modal *ngIf="modalActive" [name]="selectedProduct!.name" (submit)="manageClose($event)">

</app-modal>